@import "../../assets/variables";

.LatestPublications {
	width: 95%;
	display: flex;
	flex-direction: row;
	background-color: $white;
	@include boxShadow();

	.mainPublication {
		width: 350px;
		height: 350px;
		position: relative;

		.publication-image {
			position: absolute;
			z-index: 0;
			width: 100%;
			height: 100%;

			img {
				width: 100%;
				height: 100%;
			}
		}

		.publication-content {
			position: absolute;
			width: calc(100% - 40px);
			bottom: 10px;
			left: 10px;
			z-index: 1;
			color: white;
			background-color: rgba(0, 0, 0, 0.4);
			padding: 10px;
		}
	}

	.restPublications {
		width: calc(100% - 405px);
		margin: 10px 5px -5px 5px;
		display: flex;
		flex-direction: column;
		align-items: flex-end;

		.section-title {
			font-weight: 500;
			font-size: 1.3em;
			width: 100%;
		}
	}

}