.LeftSection {
	width: 250px;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-top: 20px;

	.morePublications {
		width: 180px;
		padding: 0px 5px;
		color: #171771;
	}

	.accountInfo {
		width: 90%;
		height: auto;
		min-height: 200px;
	}

	.account {
		display: flex;
		flex-direction: column;
		padding: 10px;
		font-size: 0.9em;
		justify-content: center;
		align-items: center;
	}

	.accountDetails {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		strong {
			color: #333333;
		}

		em {
			color: rgba(135, 139, 145, 0.5);
			font-size: 0.8em;
			font-style: normal;
		}
	}

	.sectionElement {
		margin: 5px 0;
	}

	.accountElement {
		&:hover {
			background-color: transparent;
		}
	}

	.navOptions {
		width: 90%;
		height: auto;
		margin-top: 20px;

		display: flex;
		flex-direction: column;

		img{
			margin-right: 10px;
		}
	}
}