@import '../assets/variables.scss';


.NotFoundPage {
	width: 100vw;
	height: 100vh;

	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	font-family: "Nunito Sans";
	color: $blue;
	font-size: 1em;

	section {
		width: 50%;
		align-self: center;

		svg {
			width: 100%;
			visibility: hidden;
		}
	}

	h1 {
		font-size: 7.5em;
		margin: 15px 0px;
		font-weight: bold;
	}

	h2 {
		font-weight: bold;
	}

	@include tablet() {
		flex-direction: column;
		margin-top: 70px;
		margin-bottom: 70px;

		section {
			width: 90%;

		}
	}

	@include phone() {
		flex-direction: column;
		margin-top: 70px;
		margin-bottom: 70px;

		section {
			width: 90%;
		}
	}
}