@import "../../../../assets/variables";

.AccountInfo {
	.account {
		display: flex;
		flex-direction: row;
		align-items: center;
		margin: 5px 0;
	}

	.accountDetails {
		display: flex;
		flex-direction: column;
		padding-left: 10px;
		width: calc(100% - 50px);

		span {
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}

		a {
			color: $blue;
			font-size: 12px;
			cursor: pointer;
		}
	}

	.logoutButton {
		position: sticky;
		bottom: 0px;
		background-color: white;

		border-top: 0.5px solid rgba(135, 139, 145, 0.5);
		margin: -6px 0;
	}
}
