@import "../../../../assets/variables";

.DropdownView {
	background-color: white;
	border: 1px solid #ccc;
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
	box-sizing: border-box;
	margin-top: -1px;
	height: auto;
	max-height: 400px;
	overflow-y: auto;
	position: absolute;
	top: 100%;
	width: 100%;
	z-index: 1000;
	-webkit-overflow-scrolling: touch;

	.sectionTitle {
		color: $light-grey;
		font-size: 13px;
		padding-left: 5px;
		margin: 5px 0;
	}
}
