@import '../../../../assets/variables';

.NavBar {
	padding: 0px 10px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 50px;

	background-color: $white;
	@include boxShadow();


	.homeIcon {
		height: 20px;
	}

	.searchInput {
		width: 50%;
		max-width: 500px;
		margin: 0 30px;
	}

	.startSection, .endSection {
		width: 400px;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: flex-start;
	}

	.endSection {
		justify-content: end;

		button:nth-child(2), button:nth-child(3) {
			background-color: rgb(245, 245, 245);
			border-radius: 100%;
			width: 40px;
			height: 40px;
			min-width: unset;
			margin-left: 15px;
		}
	}
}