@import '../../../../assets/variables';

.NavBar {
	padding: 0px 10px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 50px;

	background-color: $white;
	@include boxShadow();
}

.homeIcon {
	height: 20px;
}

.searchInput {
	width: 40%;
	margin: 0 30px;
}

.startSection, .endSection {
	width: 300px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}